<!-- Main launchfile to start the simulation -->

<launch>
  <arg name="initial_pose_x" value="0.4" />
  <arg name="initial_pose_y" value="0.4" />
  <arg name="initial_pose_z" value="0.0" />

  <!-- Start Gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_simulation)/worlds/mybot.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>


  <!-- Spawn table from URDF -->
  <param name="table_description"
         command="$(find xacro)/xacro --inorder '$(find gazebo_simulation)/urdf/table.xacro'" />

  <node name="table_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model table -param table_description"/>


  <!-- Spawn robot from URDF -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/robot.xacro'" />

  <node name="robot_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model robot -param robot_description -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_z)"/>


  <!-- Joint controllers -->
  <rosparam file="$(find gazebo_simulation)/config/robot_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller
                  rightWheel_effort_controller
                  leftWheel_effort_controller"/>


  <!-- State publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/robot.xacro'" />
  </node>


  <!-- Run RVIZ-->
  <!-- <node name="$(anon rviz)" pkg="rviz" type="rviz" args="$(find mybot_gazebo)/mybot.rviz" output="screen"/> -->
  <node name="rviz" type="rviz" pkg="rviz" output="screen" />


  <!-- keyboard_teleop -->
  <!-- <include file="$(find gazebo_simulation)/launch/keyboard_teleop.launch" /> -->


  <!-- Localisation -->
  <!-- <include file="$(find localisation)/launch/gmapping.launch" /> -->

  <arg name="map_file" default="$(find localisation)/maps/map.yaml" />
  <node name="map_server" type="map_server" pkg="map_server" args="$(arg map_file)" />

  <include file="$(find localisation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_z" value="$(arg initial_pose_z)" />
  </include>

</launch>
